.overlay-box {
    height: 70vh;
    overflow: hidden;
}

.card {
  height: 60vh;
}

@media (max-width: 768px) {
  .card {
    height: 60vh;
  }
}

@media (max-width: 576px) {
    .card {
        height: 80vh;
    }
  }
  
